:root {
  --fg-light: #888;
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  --bg: #fff;
  --active: #8884;

  --scrollbar: #eee;
  --scrollbar-hover: #bbb;

  --font-sans: Inter, "Inter Fallback", Arial, sans-serif;
  --font-mono: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;

  --radius-full: calc(infinity * 1px);
}

html {
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--font-sans);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  --fg-light: #888;
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
  --bg: #000;
  --scrollbar: #111;
  --scrollbar-hover: #222;

  color-scheme: dark;
}

body {
  position: relative;
}

.main {
  overflow-x: hidden;
  padding: 40px 28px;
}

::selection {
  background-color: var(--active);
}

button {
  cursor: pointer;
}

.icon {
  display: inline;
  vertical-align: sub;
}

* {
  scrollbar-color: var(--scrollbar) var(--bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

[data-vt="new"]::view-transition-old(root) {
  z-index: 1;
}
[data-vt="new"]::view-transition-new(root) {
  z-index: 9999;
}
[data-vt="old"]::view-transition-new(root) {
  z-index: 1;
}
[data-vt="old"]::view-transition-old(root) {
  z-index: 9999;
}

[data-vt="new"]::view-transition-new(root),
[data-vt="old"]::view-transition-old(root) {
  mask-image: radial-gradient(circle closest-side, #000 calc(100% - 1px), transparent 100%);
  mask-repeat: no-repeat;
}
[data-vt="new"]::view-transition-new(root) {
  mask-size: 0 0;
  mask-position: var(--vt-x) var(--vt-y);
}
[data-vt="old"]::view-transition-old(root) {
  mask-size: calc(var(--vt-r) * 2) calc(var(--vt-r) * 2);
  mask-position: calc(var(--vt-x) - var(--vt-r)) calc(var(--vt-y) - var(--vt-r));
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-2 {
  gap: 8px;
}

.font-mono {
  font-family: var(--font-mono);
}

.light-only {
  display: block;
}
.dark-only {
  display: none;
}

html.dark {
  .light-only {
    display: none;
  }
  .dark-only {
    display: block;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }
}
